<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
		
	<groups>
		<run>
			<include name="SmokeTesting"></include>
		</run>
	</groups>
	
  <test thread-count="5" name="Test">
	  <parameter name="PageName" value="HTML"></parameter>
    <classes>
      <class name="com.qa.TestCases.TestApp2AutomateTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
